{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>不挑食</title>

		<!-- Bootstrap core CSS -->
		<link href="{%static 'diet/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<link href="{%static 'diet/css/main.css' %}" rel="stylesheet">
	</head>

	<body>

		<div class="container">
			<div class="header mt20 mb20">
				<img src="{% static 'diet/imgs/icon.png' %}" alt="不挑食"  class="center-block img-circle"/>
			</div>

			<div class="row">
				<div class="text-center">
					<p>
						人类的营养来自于大自然中各种各样的动植物
					</p>
					<p>
						每种动植物所含的营养价值各不相同
					</p>
					<p>
						长期食用某几种食物会导致身体内部营养失衡
					</p>
					<p>
						不挑食才能够让身体保持均衡营养
					</p>
					<p>
						通过对自己的饮食进行记录
					</p>
					<p>
						让您清楚了解自己的饮食习惯
					</p>
					<p>
						提醒您不断丰富自己的食物多样性
					</p>
					<p>
						从而拥有更加健康的身体
					</p>
					<img src="{% static 'diet/imgs/qrcode.jpg' %}" alt="不挑食"  class="center-block"/>
					<p>
						分享给您的好友，一起来记录吧
					</p>
				</div>
			</div>

			<footer class="footer mt20">
				<p class="text-center">
					&copy; 不挑食 2015
				</p>
				<p class="text-center">
					<a href="http://www.freepik.com/free-photos-vectors/food"><small> vector designed by Freepik</small></a>
				</p>
			</footer>

		</div>
		<!-- /container -->

	</body>
</html>
